/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import '../node_modules/bootstrap-4-grid/css/grid.css';


html, body { 
    height: 100%;
}

body { 
    margin: 0; 
}